nav {
  height: 120px;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

#logo {
  font-family: "bungee", sans-serif;
}

#write {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  text-decoration: none;
}

#new-tweet {
  display: flex;
  flex-direction: column;
  color: white;
}

#arrow {
  align-self: center;
  color: white;
}

nav a {
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
}
