.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tweet-text {
  border: none;
  border-bottom: 3px solid black;
  width: 600px;
  /* outline: none; */
  /* height: 35px; */
  background-color: #f4f1ec;
  word-wrap: normal;
}

#under-text {
  display: flex;
  justify-content: space-between;
}

.counter {
  font-family: "bungee", sans-serif;
  color: #4056a1;
}

button {
  border: none;
  background-color: #4056a1;
  color: white;
  font-family: "bungee", sans-serif;
}

.container h2 {
  color: #4056a1;
  font-weight: bold;
}

.error-message {
  width: 600px;
  /* text-align: center; */
  margin: auto;
  margin-top: 20px;
  display: block;
  background-color: #ffd2d2;
  color: #d8000c;
  font-size: 32px;
  padding: 15px;
  border-radius: 10px;
}

.invisible {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 60%;
    margin-top: 30px;
  }
}
